\.project
Bancalet/\.project
Bancalet/\.settings
Bancalet/interface/\.classpath
Bancalet/interface/\.project
Bancalet/interface/\.settings
Bancalet/model/\.classpath
Bancalet/model/\.project
Bancalet/model/\.settings
Bancalet/persistence/\.classpath
Bancalet/persistence/\.project
Bancalet/persistence/\.settings
Bancalet/service/\.classpath
Bancalet/service/\.project
Bancalet/service/\.settings
Bancalet/webapp/\.classpath
Bancalet/webapp/\.project
Bancalet/webapp/\.settings
