\.project
Bancalet/\.project
Bancalet/\.settings
Bancalet/interface/\.classpath
Bancalet/interface/\.project
Bancalet/interface/\.settings
Bancalet/model/\.classpath
Bancalet/model/\.project
Bancalet/model/\.settings
Bancalet/persistence/\.classpath
Bancalet/persistence/\.project
Bancalet/persistence/\.settings
Bancalet/service/\.classpath
Bancalet/service/\.project
Bancalet/service/\.settings
Bancalet/webapp/\.classpath
Bancalet/webapp/\.project
Bancalet/webapp/\.settings
Bancalet/webapp/restclient/www
Bancalet/webapp/restclient/node_modules
Bancalet/webapp/restclient/.gitignore

*~
*.sw[mnpcod]
*.log
*.tmp
*.tmp.*
log.txt
*.sublime-project
*.sublime-workspace
.vscode/
npm-debug.log*

.idea/
.ionic/
.sourcemaps/
.sass-cache/
.tmp/
.versions/
coverage/
www/
node_modules/
tmp/
temp/
platforms/
plugins/
plugins/android.json
plugins/ios.json
$RECYCLE.BIN/

.DS_Store
Thumbs.db
UserInterfaceState.xcuserstate
