.error {
    color: rgb(223, 62, 62);
    font-size: 11px;
  }

  .error1 {
    color: rgb(75, 75, 75);
    border-bottom: 1px solid #ff0000;
  }

  .validation-error {
    color: rgb(75, 75, 75);
    border-bottom: 1px solid #ff0000;
    font-size: 11px;
  }
ion-item{
    --color: #3880ff;
    --background: #fff;
}

ion-button{
    --background: #062f77;
}

    
.flag-icon-background {
    background-size: contain;
    background-position: 50%;
    background-repeat: no-repeat;
  }
  .flag-icon {
    background-size: contain;
    background-position: 50%;
    background-repeat: no-repeat;
    position: relative;
    display: inline-block;
    width: 1.33333333em;
    line-height: 1em;
  }
