<ion-content  color="primary">
  <ion-header>
    <ion-toolbar>
      <ion-title color="primary" text-center>Confirmacion de registro</ion-title>
    </ion-toolbar>
  </ion-header>
  <div text-center>
    <h3>Has activado tu cuenta, ahora ya puedes acceder a ella.</h3>
  </div>
  <div text-center margin-top>
    <span (click)="goToLogin()" tappable>
      <ion-text color="light">
        <strong>Accede a tu cuenta ahora!</strong>
      </ion-text>
    </span>
  </div>
</ion-content>