<ion-header>
  <ion-toolbar color="primary">
      <ion-buttons slot="start">
          <ion-back-button icon="log-out" defaultHref="/">
            <i class=" material-icons">arrow_back</i>
          </ion-back-button>
        </ion-buttons>
    <ion-title>Administrador</ion-title>
  </ion-toolbar>
</ion-header>

<ion-tabs>
 
  <ion-tab-bar slot="bottom">
 
    <ion-tab-button tab="tab1">
        <i class=" material-icons">announcement</i>
      <ion-label>Problemas</ion-label>
    </ion-tab-button>
 
    <ion-tab-button tab="tab2">
        <i class=" material-icons">archive</i>
      <ion-label>Problemas Archivados</ion-label>
    </ion-tab-button>


  <ion-tab-button tab="tab3">
      <i class=" material-icons">people</i>
    <ion-label>Usuarios</ion-label>
  </ion-tab-button>
</ion-tab-bar>
 
</ion-tabs>